<div class="logo d-flex justify-content-center">
  <!-- <a class="simple-text logo-mini">
      <div class="logo-img">
    <img src="./assets/img/now-logo.png" />
      </div>
    </a> -->
  <a class="simple-text logo-normal"> Tritux </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <div
      *ngIf="loading"
      class="d-flex justify-content-center"
      style="color: white"
    >
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a *ngIf="!loading" [routerLink]="[menuItem.path]">
        <i class="now-ui-icons {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
